page-monitor-viajes {
    .label1{
        margin-left: -0.55em;
        top: -3px;
        position: relative;
    }
    .label2{
        margin-left: -0.55em;
    }
    ion-badge{
        border-radius: 25px;
        font-size: 20px;
        color: #fff;
        padding: 8px 40px;
        background-color: #2B76D0;
    }
    .viajes{
        color: #152119;
        opacity: 0.6;
        background-color: rgba(46, 201, 92, 1);    
    }
    .speed{
        color: #1b1215;
        opacity: 0.6;
        background-color: #3c81d4;
    }
}
// .div60{
//     width:60% !important;
//     border-left: dotted 4px #AAA;
//     padding-left: 4px;
//     // border-radius: 8px;
//   border-top:5px solid white;
//   border-bottom:5px solid white;
//     // border-left-style: dotted; 
//     // border-left-color :rgb(151, 149, 147) ;
//     // border-left-width: 4px;
   

//     // border-image-repeat :round;
// }

