page-comentarios {
    .comentarios{
        border-bottom: solid 1px #ccc;
        padding-top: 10px
    }
    .right{
        float: right;
    }
}
.right{
    text-align: right
}

//  .toast-danger{

//      background-color:gray;
//      opacity:0.2;
//      filter: blur(6px)
//  }
