
<ion-content padding class="background">
  <div class="contenedor-img">
    <ion-img [src]=".//src/assets/imgs/sestrackbaja.png" width="150%"></ion-img>
      <!-- <img src=".//src/assets/imgs/sestrackbaja.png" width="150%"> -->

  </div>
  <form #loginForm="ngForm" novalidate >

  <ion-list padding>
  
      <ion-item>
        <ion-input type="email" [(ngModel)]="mail" placeholder="Email"  name="password" #password="ngModel" required></ion-input>
      </ion-item>
      <p ion-text [hidden]="password.valid || submitted == false" color="danger" padding-left>
          Campo Contraseña requerido
      </p>

      <button ion-button (click)="onSubmit(loginForm)" type="submit"  full>Recuperar</button>
      <button ion-button color="light" (click)="onLogin()" full clear>Iniciar Sesión</button>

  </ion-list>
</form>


</ion-content>
