
<ion-header>

  <ion-navbar>
    <ion-title>Cambio de Transportista</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Transportista</ion-label>
    <select-searchable
        item-content
        [(ngModel)]="transportista"
        [items]="transportistas"
        itemValueField="idUsuario"
        itemTextField="nombre"
        closeButtonText="Cancelar"
        searchPlaceholder="Buscar"
        [canSearch]="true"
        (onChange)="portChange($event)">
    </select-searchable>
  </ion-item>
</ion-content>
<ion-footer>
  <button ion-button full (click)="cambiar()" [disabled]="!transportista"> Aceptar</button>  
</ion-footer>